<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ärztlicher Assistent</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <script>
    let collectedICDCodes = [];

    function searchICD10Code() {
      const description = document.getElementById("description").value;
      fetch(`/getICD10Code?description=${description}`)
              .then(response => response.text())
              .then(data => {
                if (data) {
                  collectedICDCodes.push(data);
                  const resultDiv = document.getElementById("results");
                  const newResult = document.createElement("div");
                  newResult.textContent = data;
                  resultDiv.appendChild(newResult);
                  document.getElementById("description").value = "";
                }
              });
    }

    function sendICDCodes() {
      const diagnose = collectedICDCodes.join(", ");
      const loadingMessage = document.getElementById("loadingMessage");
      loadingMessage.style.display = "block";

      fetch('/sendICDCodes', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ diagnose })
      })
              .then(response => response.text())
              .then(data => {
                const responseTextarea = document.getElementById("responseTextarea");
                responseTextarea.value = data;
                adjustTextareaHeight(responseTextarea);
                loadingMessage.style.display = "none";
              });
    }

    function adjustTextareaHeight(textarea) {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    }

    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("searchForm").addEventListener("submit", function(event) {
        event.preventDefault();
        searchICD10Code();
      });

      document.getElementById("sendButton").addEventListener("click", function() {
        sendICDCodes();
      });

      const responseTextarea = document.getElementById("responseTextarea");
      responseTextarea.addEventListener("input", function() {
        adjustTextareaHeight(responseTextarea);
      });
    });

  </script>
</head>
<body>
<div class="row">
  <a href="/" class="btn waves-effect waves-light" style="background-color: #1535a1;">Ärztliche Stellungnahme</a>
<!--  <a href="/anamnese" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via AI</a>-->
<!---->
<!--  <a href="/transcriptor" class="btn waves-effec  <a href="/anamnese-ocr" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via OCR</a>&ndash;&gt;-->
<!--  <a href="/anamnese-regex" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via Regex</a>t waves-light" style="background-color: #ccc;">Transcriptor</a>-->
  <a href="/transcriptor" class="btn waves-effect waves-light" style="background-color: #ccc;">Transcript</a>
  <a href="/zusammenfassung" class="btn waves-effect waves-light" style="background-color: #ccc;">Extrahierte Informationen aus Anamnese-Gespräch</a>
  <!--  <a href="/openai" class="btn waves-effect waves-light" style="background-color: #ccc;">OpenAi</a>-->
<!--  <a href="/watsonx" class="btn waves-effect waves-light" style="background-color: #ccc;">WatsonX</a>-->
  <a href="/pdf-zusammenfassung" class="btn waves-effect waves-light" style="background-color: #ccc;">Extrahierte Informationen aus Anamnese-Bogen</a>


</div>
<div class="container">
  <h3 class="left">Diagnose nach ICD</h3>
  <div class="row">
    <form id="searchForm">
      <input type="text" id="description" required>
    </form>
    <div id="results"></div>
    <button id="sendButton" class="btn waves-effect waves-light" style="background-color: #1535a1;margin-top:1em;">Speichern</button>
  </div>
  <div class="row">
    <div>
      <h3 class="left">Wertende Ärztliche Stellungnahme</h3>
    </div>
    <textarea id="responseTextarea" class="materialize-textarea"></textarea>
    <div id="loadingMessage" style="color: red; margin-top: 1em; display: none;">Die Stellungnahme wird generiert...</div>  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>