<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Zusammenfassung</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
  <a href="/" class="btn waves-effect waves-light" style="background-color: #ccc;">Ärztliche Stellungnahme</a>
  <a href="/anamnese" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via AI</a>
  <a href="/anamnese-ocr" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via OCR</a>
  <a href="/anamnese-regex" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via Regex</a>
  <a href="/transcriptor" class="btn waves-effect waves-light" style="background-color: #ccc;">Transcriptor</a>
  <a href="/zusammenfassung" class="btn waves-effect waves-light" style="background-color: #ccc;">Zusammenfassung</a>
  <a href="/openai" class="btn waves-effect waves-light" style="background-color: #ccc;">OpenAi</a>
  <a href="/watsonx" class="btn waves-effect waves-light" style="background-color: #ccc;">WatsonX</a>
  <a href="/pdf-zusammenfassung" class="btn waves-effect waves-light" style="background-color: #1535a1;">PDF-Zusammenfassung</a>

</div>
<div class="container">
  <h3 class="left">PDF Zusammenfassung</h3>

  <form method="POST" enctype="multipart/form-data" action="/pdf/upload">
    <div class="input-field">
      <input type="file" id="file" name="file" accept="application/pdf" required>
    </div>
    <div class="input-field">
      <label for="searchTerm">Suchbegriff</label>
      <input type="text" id="searchTerm" name="searchTerm" placeholder="Suchbegriff eingeben" required>
    </div>
    <button type="submit" class="btn waves-effect waves-light" style="background-color: #1535a1;">Analyse starten</button>
    <div class="row">
      <h5>Analyse Ergebnis:</h5>
      <p th:text="${response}">Das Ergebnis der Analyse wird hier angezeigt.</p>
    </div>
  </form>
</div>

</body>
</html>