<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WartsonX</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
  <a href="/" class="btn waves-effect waves-light" style="background-color: #ccc;">Ärztliche Stellungnahme</a>
<!--  <a href="/anamnese" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via AI</a>-->
<!--  <a href="/anamnese-ocr" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via OCR</a>-->
<!--  <a href="/anamnese-regex" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via Regex</a>-->
  <a href="/transcriptor" class="btn waves-effect waves-light" style="background-color: #ccc;">Transcriptor</a>
  <a href="/zusammenfassung" class="btn waves-effect waves-light" style="background-color: #ccc;">Zusammenfassung</a>
  <a href="/openai" class="btn waves-effect waves-light" style="background-color: #ccc;">OpenAi</a>
  <a href="/watsonx" class="btn waves-effect waves-light" style="background-color: #1535a1;">WatsonX</a>
  <a href="/pdf-zusammenfassung" class="btn waves-effect waves-light" style="background-color: #ccc;">PDF-Zusammenfassung</a>

</div>
<div class="container">
<h1>WatsonX Chat</h1>
  <form method="post" action="/watsonx">
    <label for="userInput">Nachricht eingeben:</label><br>
    <textarea id="userInput" name="userInput" rows="4" cols="60" placeholder="Frage etwas an watsonx..."></textarea><br><br>
    <button type="submit">Senden</button>
  </form>

  <hr>

  <!-- Antwort von Watsonx anzeigen -->
  <div th:if="${response}">
    <h3>Antwort von Watsonx:</h3>
    <p th:text="${response}"></p>
  </div>
</div>
</body>
</html>
