<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Anamnese</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
  <a href="/" class="btn waves-effect waves-light" style="background-color: #ccc;">Ärztliche Stellungnahme</a>
  <a href="/anamnese" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via AI</a>
  <a href="/anamnese-ocr" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via OCR</a>
  <a href="/anamnese-regex" class="btn waves-effect waves-light" style="background-color: #ccc;">Anamnese via Regex</a>
  <a href="/transcriptor" class="btn waves-effect waves-light" style="background-color: #ccc;">Transcriptor</a>
  <a href="/zusammenfassung" class="btn waves-effect waves-light" style="background-color: #1535a1;">Zusammenfassung</a>
</div>
<div class="container">
  <h3 class="left">Zusammenfassung Anamnese</h3>
  <div class="row">
    <a href="/zusammenfassung/generate" class="btn waves-effect waves-light" style="background-color: #1535a1;">Generate Zusammenfassung</a>
  </div>
  <div class="row">
    <div th:if="${response}">
      <p th:utext="${response}"></p>
    </div>
  </div>
</div>

</body>
</html>